.dtree-zdy-item-this {
    background-color: #c2c2c2 !important;
}

/* 当前选中行样式*/
.dtree-zdy-item:hover {
    background-color: #f2f2f2 !important;
}

/* 行悬停样式*/
.dtree-zdy-item cite {
    font-size: 14px !important;
}

/* 行文字样式*/
.dtree-zdy-item:hover cite {
    color: #5FB878 !important;
}

/* 行悬停文字样式*/
.dtree-zdy-dtreefont {
    font-size: 18px !important;
}

/* 一级图标、二级图标、复选框样式*/
.dtree-zdy-ficon {
    color: #2F4056 !important;
}

/*一级图标特定样式*/
.dtree-zdy-icon {
    color: #2F4056 !important;
}

/*二级图标特定样式*/
.dtree-zdy-checkbox:hover {
    color: #5FB878 !important;
}

/*复选框悬停样式*/
.dtree-zdy-choose {
    color: #5FB878 !important;
}

ul {
    list-style-type: none;
}

/* 复选框选中样式*/