<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.mapper.CheckoutMapper">
    <resultMap id="BaseResultMap" type="com.hotel.pojo.entity.Checkout">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="check_out_number" property="checkOutNumber" jdbcType="VARCHAR"/>
        <result column="checkin_id" property="checkinId" jdbcType="BIGINT"/>
        <result column="consume_price" property="consumePrice" jdbcType="DECIMAL"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="created_user" property="createdUser" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <!--根据id删除退房信息-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE
        FROM t_checkout
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <!--新增退房信息-->
    <insert id="insert" parameterType="com.hotel.pojo.entity.Checkout">
        INSERT INTO t_checkout (check_out_number, checkin_id,
                                consume_price, create_date, created_user,
                                remark)
        VALUES (#{checkOutNumber,jdbcType=VARCHAR}, #{checkinId,jdbcType=BIGINT},
                #{consumePrice,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, #{createdUser,jdbcType=INTEGER},
                #{remark,jdbcType=VARCHAR})
    </insert>
    <!--根据id修改退房信息-->
    <update id="updateByPrimaryKey" parameterType="com.hotel.pojo.entity.Checkout">
        UPDATE t_checkout
        <set>
            <if test="checkOutNumber!=null and checkOutNumber!=''">
                check_out_number = #{checkOutNumber,jdbcType=VARCHAR},
            </if>
            <if test="checkinId!=null">
                checkin_id = #{checkinId,jdbcType=BIGINT},
            </if>
            <if test="consumePrice!=null">
                consume_price = #{consumePrice,jdbcType=DECIMAL},
            </if>
            <if test="createDate!=null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser!=null">
                created_user = #{createdUser,jdbcType=INTEGER},
            </if>
            <if test="remark!=null and remark!=''">
                remark = #{remark,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <!--根据id查询退房信息-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT id,
               check_out_number,
               checkin_id,
               consume_price,
               create_date,
               created_user,
               remark
        FROM t_checkout
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <!--查询所有退房信息-->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT id,
               check_out_number,
               checkin_id,
               consume_price,
               create_date,
               created_user,
               remark
        FROM t_checkout
    </select>
</mapper>