<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.hotel.pojo.entity.Permission">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="permission_code" property="permissionCode" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="href" property="href" jdbcType="VARCHAR"/>
        <result column="spread" property="spread" jdbcType="INTEGER"/>
        <result column="target" property="target" jdbcType="VARCHAR"/>
    </resultMap>
    <!--新增权限菜单-->
    <insert id="insertPermission">
        INSERT INTO sys_permission(parent_id, type, title, permission_code, icon, href, spread, target)
        VALUES (#{parentId}, #{type}, #{title}, #{permissionCode}, #{icon}, #{href}, #{spread}, #{target})
    </insert>
    <!--根据id修改权限菜单信息-->
    <update id="modifyPermissionById">
        UPDATE sys_permission
        <set>
            <if test="parentId!=null">
                parent_id = #{parentId},
            </if>
            <if test="type!=null and type!=''">
                type = #{type},
            </if>
            <if test="title!=null and title !=''">
                title = #{title},
            </if>
            <if test="permissionCode!=null and permissionCode!=''">
                permission_code = #{permissionCode},
            </if>
            <if test="icon!=null and icon!=''">
                icon = #{icon},
            </if>
            <if test="href!=null and href!=''">
                href = #{href},
            </if>
            <if test="spread!=null">
                spread = #{spread},
            </if>
            <if test="target!=null and target!=''">
                target = #{target},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <!--查询所有菜单-->
    <select id="selectAllPermission" resultMap="BaseResultMap">
        SELECT id, parent_id, type, title, permission_code, icon, href, spread, target
        FROM sys_permission
        <where>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
            <if test="id!=null">
                AND id = #{id} OR parent_id = #{id}
            </if>
        </where>
    </select>

    <!--根据用户id查询权限菜单-->
    <select id="selectPermissionByUser" resultMap="BaseResultMap">
        SELECT DISTINCT sp.*
        FROM sys_permission sp
                 INNER JOIN sys_role_permisson srp ON sp.id = srp.pid
                 INNER JOIN sys_role sr ON srp.rid = sr.id
                 INNER JOIN sys_user_role sur ON sr.id = sur.role_id
        WHERE sur.user_id = #{userId}
    </select>
    <select id="selectPermissionByPids" resultType="com.hotel.pojo.entity.Permission">
        SELECT id, parent_id, type, title, permission_code,icon, href, spread, target
        FROM sys_permission WHERE id in
        <foreach collection="currentRolePermissionIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>