<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.mapper.RolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.hotel.pojo.entity.RolePermission">
        <id column="rid" property="rid" jdbcType="INTEGER"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
    </resultMap>
    <!--分配角色权限-->
    <insert id="distributionRoleWithMenu">
        INSERT INTO sys_role_permisson(rid, pid)
        <trim prefix="VALUES" suffixOverrides=", ">
            <foreach collection="menuIds" item="pid">
                (#{rid},#{pid}),
            </foreach>
        </trim>
    </insert>

</mapper>