<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.mapper.RoomTypeMapper">
    <resultMap id="BaseResultMap" type="com.hotel.pojo.entity.RoomType">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="photo" property="photo" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="live_num" property="liveNum" jdbcType="INTEGER"/>
        <result column="bed_num" property="bedNum" jdbcType="INTEGER"/>
        <result column="room_num" property="roomNum" jdbcType="INTEGER"/>
        <result column="reserved_num" property="reservedNum" jdbcType="INTEGER"/>
        <result column="avilable_num" property="avilableNum" jdbcType="INTEGER"/>
        <result column="lived_num" property="livedNum" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <!--根据id删除房型-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE
        FROM t_room_type
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <!--新增房型-->
    <insert id="insert" parameterType="com.hotel.pojo.entity.RoomType">
        INSERT INTO t_room_type (id, type_name, photo,
                                 price, live_num, bed_num,
                                 room_num, reserved_num, avilable_num,
                                 lived_num, `status`, remark)
        VALUES (#{id,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR},
                #{price,jdbcType=DECIMAL}, #{liveNum,jdbcType=INTEGER}, #{bedNum,jdbcType=INTEGER},
                #{roomNum,jdbcType=INTEGER}, #{reservedNum,jdbcType=INTEGER}, #{avilableNum,jdbcType=INTEGER},
                #{livedNum,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
    </insert>

    <!--根据id修改房型信息-->
    <update id="updateByPrimaryKey" parameterType="com.hotel.pojo.entity.RoomType">
        UPDATE t_room_type
        <set>
            <if test="typeName!=null and typeName!=''">
                type_name = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="photo!=null and photo!=''">
                photo = #{photo,jdbcType=VARCHAR},
            </if>
            <if test="price!=null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="liveNum!=null">
                live_num = #{liveNum,jdbcType=INTEGER},
            </if>
            <if test="bedNum!=null">
                bed_num = #{bedNum,jdbcType=INTEGER},
            </if>
            <if test="roomNum!=null">
                room_num = #{roomNum,jdbcType=INTEGER},
            </if>
            <if test="reservedNum!=null">
                reserved_num = #{reservedNum,jdbcType=INTEGER},
            </if>
            <if test="avilableNum!=null">
                avilable_num = #{avilableNum,jdbcType=INTEGER},
            </if>
            <if test="livedNum!=null">
                lived_num = #{livedNum,jdbcType=INTEGER},
            </if>
            <if test="status!=null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark!=null and remark!=''">
                remark = #{remark,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <!--根据id查询详情-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT id,
               type_name,
               photo,
               price,
               live_num,
               bed_num,
               room_num,
               reserved_num,
               avilable_num,
               lived_num,
               `status`,
               remark
        FROM t_room_type
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <!--查询所有房型-->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT id,
               type_name,
               photo,
               price,
               live_num,
               bed_num,
               room_num,
               reserved_num,
               avilable_num,
               lived_num,
               `status`,
               remark
        FROM t_room_type
    </select>

    <!--查询房型列表-->
    <select id="selectRoomTypeList" resultMap="BaseResultMap">
        SELECT id,
        type_name,
        photo,
        price,
        live_num,
        bed_num,
        room_num,
        reserved_num,
        avilable_num,
        lived_num,
        `status`,
        remark
        FROM t_room_type
        <where>
            <if test="typeName!=null and typeName!=''">
                AND type_name LIKE CONCAT('%',#{typeName},'%')
            </if>
            <if test="status!=null">
                AND status = #{status}
            </if>
        </where>
    </select>
    <!--查询房型下是否有房间-->
    <select id="checkRoomTypeHasRoom" resultType="java.lang.Integer">
        SELECT COUNT(rt.id)
        FROM t_room_type rt
                 INNER JOIN t_room r ON rt.id = r.room_type_id
        WHERE rt.id = #{id}
    </select>
</mapper>