<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.UsersMapper">
    <resultMap id="BaseResultMap" type="com.hotel.pojo.entity.Users">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="dept_id" jdbcType="INTEGER" property="deptId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
        <result column="hire_date" jdbcType="TIMESTAMP" property="hireDate"/>
        <result column="created_user" jdbcType="INTEGER" property="createdUser"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="modify_user" jdbcType="INTEGER" property="modifyUser"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!--用户角色关系-->
    <resultMap id="UserRoleResultMap" type="com.hotel.pojo.entity.Users" extends="BaseResultMap">
        <collection property="roleList" column="id" select="com.hotel.mapper.RoleMapper.selectRoleByUserId"/>
    </resultMap>

    <!--用户部门关系-->
    <resultMap id="UserDeptResultMap" type="com.hotel.pojo.po.UsersPO" extends="BaseResultMap">
        <association property="dept" javaType="com.hotel.pojo.entity.Dept">
            <id property="id" column="id"/>
            <result property="deptName" column="dept_name"/>
            <result property="address" column="address"/>

        </association>
    </resultMap>

    <!--根据id删除用户-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE
        FROM sys_users
        <where>
            id = #{id,jdbcType=INTEGER}
        </where>
    </delete>
    <!--批量删除用户-->
    <delete id="removeUsers">
        DELETE FROM sys_users WHERE id in
        <foreach collection="userIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--新增用户-->
    <insert id="insert" parameterType="com.hotel.pojo.entity.Users">
        INSERT INTO sys_users (username, password,
                               real_name, sex, dept_id,
                               status, email, phone,
                               user_type, hire_date, created_user,
                               created_date, modify_user, modify_date,
                               remark)
        VALUES (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{realName,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER},
                #{status,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
                #{userType,jdbcType=INTEGER}, #{hireDate,jdbcType=TIMESTAMP}, #{createdUser,jdbcType=INTEGER},
                #{createdDate,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=INTEGER}, #{modifyDate,jdbcType=TIMESTAMP},
                #{remark,jdbcType=VARCHAR})
    </insert>
    <!--根据id修改用户信息-->
    <update id="updateByPrimaryKey" parameterType="com.hotel.pojo.entity.Users">
        UPDATE sys_users
        <set>
            <if test="username!=null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password!=null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName!=null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="sex!=null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="deptId!=null">
                dept_id = #{deptId,jdbcType=INTEGER},
            </if>
            <if test="status!=null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="email!=null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone!=null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="userType!=null">
                user_type = #{userType,jdbcType=INTEGER},
            </if>
            <if test="hireDate!=null">
                hire_date = #{hireDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createdDate!=null">
                created_date = #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUser!=null">
                modify_user = #{modifyUser,jdbcType=INTEGER},
            </if>
            <if test="modifyDate!=null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remark!=null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            id = #{id,jdbcType=INTEGER}
        </where>
    </update>
    <!--根据id查询用户信息-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT id,
        username,
        password,
        real_name,
        sex,
        dept_id,
        status,
        email,
        phone,
        user_type,
        hire_date,
        created_user,
        created_date,
        modify_user,
        modify_date,
        remark
        FROM sys_users
        <where>
            id = #{id,jdbcType=INTEGER}
        </where>
    </select>
    <!--查询所有用户信息-->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT id,
               username,
               password,
               real_name,
               sex,
               dept_id,
               status,
               email,
               phone,
               user_type,
               hire_date,
               created_user,
               created_date,
               modify_user,
               modify_date,
               remark
        FROM sys_users
    </select>
    <!--根据用户名查询用户信息-->
    <select id="selectUsersByUsername" resultMap="UserRoleResultMap">
        SELECT id,
        username,
        password,
        real_name,
        sex,
        dept_id,
        status,
        email,
        phone,
        user_type,
        hire_date,
        created_user,
        created_date,
        modify_user,
        modify_date,
        remark
        FROM sys_users
        <where>
            username = #{username}
        </where>
    </select>
    <!--查询用户列表-->
    <select id="getUser" resultMap="UserDeptResultMap">
        SELECT su.id,
        su.username,
        su.password,
        su.real_name,
        su.sex,
        su.dept_id,
        su.status,
        su.email,
        su.phone,
        su.user_type,
        su.hire_date,
        su.created_user,
        su.created_date,
        su.modify_user,
        su.modify_date,
        su.remark,
        sd.dept_name
        FROM sys_users su
        LEFT JOIN sys_dept sd ON su.dept_id = sd.id
        <where>
            <if test="username!=null and username!=''">
                AND su.username LIKE CONCAT('%',#{username},'%')
            </if>
            <if test="realName!=null and realName!=''">
                AND su.real_name LIKE CONCAT('%',#{realName},'%')
            </if>
            <if test="sex!=null">
                AND su.sex = #{sex}
            </if>
            <if test="deptId!=null">
                AND su.dept_id = #{deptId}
            </if>
            <if test="phone!=null and phone!=''">
                AND su.phone LIKE　CONCAT('%',#{phone},'%')
            </if>
            <if test="userType!=null">
                AND su.user_type = #{userType}
            </if>
            <if test="startDate!=null">
                <![CDATA[ AND su.hire_date >= #{startDate} ]]>
            </if>
            <if test="endDate!=null">
                <![CDATA[ AND su.hire_date <= #{endDate} ]]>

            </if>
        </where>
    </select>
</mapper>